<h1><strong>Privacy Statement of VERO Visuals BV</strong></h1>
<p><em>14 September 2018</em></p>
<p>During the processing of personal data VERO Visuals BV works conform the requirements of the applicable data protection legislation, like the General Data Protection Regulation. This means we:</p>
<ul>
<li><strong>clearly specify our purposes</strong> before we process personal data, by using this Privacy Statement;</li>
<li><strong>limit our collection of personal data</strong> to only the personal data needed for legitimate purposes;</li>
<li>first <strong>ask for explicit permission</strong> to process your personal data in cases where your permission is required;</li>
<li>take <strong>appropriate security measures</strong> to protect your personal data and we demand the same from parties who process personal data on our behalf;</li>
<li><strong>respect</strong> your right to access, correct or delete your personal data held by us.</li>
</ul>
<p>VERO Visuals BV is the party responsible for all data processing. In this privacy statement, we will explain what kind of personal data we collect and for which purposes within our app VERO Reality. We recommend that you read it carefully.</p>
<p>If you have any questions regarding the processing of personal data, you can find the contact details of VERO Visuals BV at the end of this privacy statement.</p>
<p>We have a newsletter to inform those interested on news, tips and information about our products and services. Your e-mail address is automatically added to the list of subscribers.</p>
<p>For this purpose, we use your ip address and locatie., gender, birth date, email address, nickname, profile picture and phone number. We need this data because of our agreement with you. We store this information until you cancel your subscription.</p>
<p>You may cancel your subscription to our newsletter at any time. Each newsletter contains a link to unsubscribe from our newsletter.</p>
<p><em>Providing to Third Parties</em></p>
<p>We collaborate with other organisations, that may receive your personal data.</p>
<h2><strong>We share data with the following parties, that will provide personalised advertisements based on your personal data:</strong></h2>
<h3>Access to portal</h3>
<p>Within our portal, you can access a management environment where you can set, specify and change settings. We will keep track of your activities for proof.</p>
<p>For this purpose, we use your phone number, email address, nickname, profile picture, ip address, gender, birth date and locatie.We have a legitimate interest in doing this. We store this information until our services to you have ended.</p>
<p><em>Providing to Third Parties</em></p>
<p>We collaborate with other organisations, that may receive your personal data.</p>
<h2><strong>We share data with the following parties, that will provide personalised advertisements based on your personal data:</strong></h2>
<h2><strong>We further share data with the following parties, who will use the data for their own marketing purposes:</strong></h2>
<h3>Statistics and profiling</h3>
<p>We keep statistics on the use of our app, giving us access to individual data. However, we only access individual data insofar as necessary for the purposes set out in this statement. These statistics help us to, for example, only show you information that is relevant to you. We may combine personal data to get to know more about you. We will of course respect your privacy at all times. If you do not want us to do these statistics, please let us know.</p>
<p>For this purpose, we use your and locatie., nickname, email address, ip address, birth date, profile picture, phone number and gender.We have a legitimate interest in doing this. We store this information for one year.</p>
<p><em>Providing to Third Parties</em></p>
<p>We collaborate with other organisations, that may receive your personal data.</p>
<h2><strong>We share data with the following parties, who will use the data for their own marketing purposes:</strong></h2>
<h2><strong>We also share data with the following parties, that will provide personalised advertisements based on your personal data:</strong></h2>
<h3>Registration</h3>
<p>Certain features of our service require you to register beforehand. You will have to provide some information about yourself and choose a username and password for the account that we will set up for you.</p>
<p>For this purpose, we use your birth date and locatie., email address, gender, ip address, profile picture, phone number and nickname.We have a legitimate interest in doing this. We store this information until you close your account.</p>
<p>We will retain this data so that you do not have to re-enter it every time you visit our website, and in order to contact you in connection with the execution of the agreement, invoicing and payment, and to provide an overview of the products and services you have purchased from us.</p>
<p><em>Providing to Third Parties</em></p>
<p>We collaborate with other organisations, that may receive your personal data.</p>
<h2><strong>We share data with the following parties, who will use the data for their own marketing purposes:</strong></h2>
<h3>Promotion</h3>
<p>Other than the advertisements on the website, we can inform you about new products or services:</p>
<ul>
<li>by e-mail- via social media</li>
</ul>
<p>You can object at all times against this promotional communication. Every e-mail contains a cancellation link. On social media, you can block us or use the cancellation option. You can also inform us through your account. Further, you can inform us through the portal.</p>
<h3>Location data</h3>
<p>If necessary, we may collect your location data (GPS). If that is the case, you will be asked to grant consent beforehand.</p>
<p>This location data and other data can also be stored and processed by the provider of the navigation/mapping software, such as Google Maps, but the data could also be used by, for example, Google or Apple itself. We have no control over their actions. We recommend that you read the applicable privacy statement of the provider in question.</p>
<h3>App store</h3>
<p>The app providing the service has been downloaded via a third-party app store. We have no influence on which personal data the provider will process or to what purpose it will be processed. We recommend that you read the applicable privacy statement of the provider in question.</p>
<p><strong>Publication</strong></p>
<p>We will not publish your customer data.</p>
<h3>Providing Data to Third Parties</h3>
<p>Except for the parties mentioned above, we do not under any circumstance provide your personal data to other companies or organisations, unless we are required to do so by law (for example, when the police demands access to personal data in case of a suspected crime).</p>
<p>Our website features social media buttons. These buttons are used by the providers of these services to collect your personal data.</p>
<h3>Statistics</h3>
<p>We keep statistics on the use of our app, giving us access to individual data. However, we only access individual data insofar as necessary for the purposes set out in this statement.</p>
<h3>Security</h3>
<p>We take security measures to reduce misuse of and unauthorized access to personal data. We take the following measures in particular:</p>
<p>&nbsp;&nbsp; Access to personal data requires the use of a user name and password- After receipt, the data will be stored in a separate system- We make use of secure connections (Secure Sockets Layer of SSL) to encrypt all information between you and our website when entering your personal data</p>
<h3>Changes to this Privacy Statement</h3>
<p>We reserve the right to modify this statement. We recommend that you consult this statement on a regular basis, so that you remain informed of any changes.</p>
<h3>Inspection and Modification of your Data</h3>
<p>You can always contact us if you have any questions regarding our privacy policy or wish to review, modify or delete your personal data.</p>
<p>You have the following right:</p>
<ul>
<li>Right of access: you have the right to see what kind of personal data we processed about you.</li>
<li>Right of rectification: you have the right to rectify any personal data we have processed about you, if this information is (partially) wrong.</li>
<li>Right to complain: you have the right to file a complain against the processing of your personal data by us, or against direct marketing.</li>
<li>Right to be forgotten: you can file a request with us to remove any personal data we processed of you. Right to data portability: if technically possible, you have the right to ask us to transfer your processed personal data to a third party.</li>
<li>Right to restriction of processing: you can file a request with us to (temporarily) restrict the processing of your personal data.</li>
</ul>
<p>If you exercise any of the rights mentioned above, we will ask to identify yourself with a valid ID, to conform it is your personal data. It is important that you hide your social security number and photo.</p>
<p>We will usually comply to your request within 30 days. This term can be extended if the request is proven to be complex or tied to a specific right. You will be notified about a possible extension of this term.</p>
<h3>Complaints</h3>
<p>If you think that we are not helping you in the right way, you have the right to lodge a complaint at the authority. For The Netherlands, this is the Autoriteit Persoonsgegevens.</p>
<h3>Contact details</h3>
<p>VERO Visuals BV</p>
<p>Stationsplein 45 A4.004 3013AK Rotterdam info@veroreality.app</p>
<p>31657753121</p>