﻿@{
}
@model VeroVrCore.WebApi.Model.SharingModel;

<html>
<head>
    <meta property="og:url" content="@Html.Raw(string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString))" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.ProjectName" />
    <meta property="og:description" content="@Model.ProjectDescription" />
    <meta property="og:image" content="@Model.ProjectImageUrl" />
    <meta property="fb:app_id" content="209136426305548" />

    <meta http-equiv="refresh" content="0;URL='@Html.Raw(Model.RedirectUrl)'" />
    <script type="text/javascript">
        window.location.href = "@Html.Raw(Model.RedirectUrl)";
    </script>
    <title>@Model.ProjectName</title>
</head>
<body>
    <h1>@Model.ProjectDescription</h1>
    <img src="@Model.ProjectImageUrl" />
    <p>If you are not redirected automatically, follow this <a href="@Html.Raw(Model.RedirectUrl)">link</a></p>

</body>
</html>