﻿<h2>VERO Reality Terms of Service and End-User License Agreement (&ldquo;Agreement&rdquo;)</h2>
<p>Last updated: September 14, 2018</p>
<p>Please read this Terms of Service and End-User License Agreement (&ldquo;Agreement&rdquo;) carefully before clicking the &ldquo;I Agree&rdquo; button, downloading or using VERO Reality (&ldquo;Application&rdquo;).</p>
<p>By clicking the &ldquo;I Agree&rdquo; button, downloading or using the Application, you are agreeing to be bound by the terms and conditions of this Agreement.</p>
<p>This Agreement is a legal agreement between you (either an individual or a single entity) and VERO Visuals B.V. (&ldquo;VERO&rdquo;) and it governs your use of the Application made available to you by VERO Visuals B.V.</p>
<p>If you do not agree to the terms of this Agreement, do not click on the &ldquo;I Agree&rdquo; button and do not download or use the Application.</p>
<p>The Application is licensed, not sold, to you by VERO Visuals B.V. for use strictly in accordance with the terms of this Agreement.</p>
<p>Deviations from these terms and conditions is possible only by means of written confirmation by VERO.</p>
<h2>Use of the service</h2>
<p>The Application allows you to view and share 3d content in virtual reality, augmented reality, video and images. The content provided by VERO. It is combined from two components &ndash; mobile application and hosted by 3rd party datacenter back-end.</p>
<h2>License</h2>
<p>VERO grants you a revocable, non-exclusive, non-transferable, limited license to download, install and use the Application strictly in accordance with the terms of this Agreement.</p>
<h2>Restrictions</h2>
<p>You agree not to, and you will not permit others to:</p>
<p>license, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose or otherwise commercially exploit the Application or make the Application available to any third party.</p>
<p>modify, make derivative works of, disassemble, decrypt, reverse compile or reverse engineer any part of the Application.</p>
<p>remove, alter or obscure any proprietary notice (including any notice of copyright or trademark) of VERO or its affiliates, partners, suppliers or the licensors of the Application.</p>
<h2>Data Charges</h2>
<p>You acknowledge that data charges may be incurred through your use of the Application and you agree that you are responsible for any and all such charges that may be charged to you and that VERO shall have no liability to you whatsoever in respect of such charges.</p>
<h2>Intellectual Property</h2>
<p>The Application, including without limitation all copyrights, patents, trademarks, trade secrets and other intellectual property rights are, and shall remain, the sole and exclusive property of VERO.</p>
<h2>Your Suggestions</h2>
<p>Any feedback, comments, ideas, improvements or suggestions (collectively, &ldquo;Suggestions&rdquo;) provided by you to VERO with respect to the Application shall remain the sole and exclusive property of VERO.</p>
<p>VERO shall be free to use, copy, modify, publish, or redistribute the Suggestions for any purpose and in any way without any credit or any compensation to you.</p>
<h2>Modifications to Application</h2>
<p>VERO reserves the right to modify, suspend or discontinue, temporarily or permanently, the Application or any service to which it connects, with or without notice and without liability to you.</p>
<h2>Updates to Application</h2>
<p>VERO may from time to time provide enhancements or improvements to the features/functionality of the Application, which may include patches, bug fixes, updates, upgrades and other modifications (&ldquo;Updates&rdquo;).</p>
<p>Updates may modify or delete certain features and/or functionalities of the Application. You agree that VERO has no obligation to (i) provide any Updates, or (ii) continue to provide or enable any particular features and/or functionalities of the Application to you.</p>
<p>You further agree that all Updates will be (i) deemed to constitute an integral part of the Application, and (ii) subject to the terms and conditions of this Agreement.</p>
<h2>Third-Party Services</h2>
<p>The Application may display, include or make available third-party content (including data, information, applications and other products services) or provide links to third-party websites or services (&ldquo;Third-Party Services&rdquo;).</p>
<p>You acknowledge and agree that VERO Visuals B.V.. shall not be responsible for any Third-Party Services, including their accuracy, completeness, timeliness, validity, copyright compliance, legality, decency, quality or any other aspect thereof. VERO does not assume and shall not have any liability or responsibility to you or any other person or entity for any Third-Party Services.</p>
<p>Third-Party Services and links thereto are provided solely as a convenience to you and you access and use them entirely at your own risk and subject to such third parties&rsquo; terms and conditions.</p>
<h2>Privacy Policy</h2>
<p>VERO collects, stores, maintains, and shares information about you in accordance with its Privacy</p>
<p>Policy, which is available at</p>
<p>https://juridox.nl/download/f5e416fb-2f56-49af-a746-1051cebf0923/pdf?nonce=6ece6a. By accepting this Agreement, you acknowledge that you hereby agree and consent to the terms and conditions of our Privacy Policy.</p>
<h2>Term and Termination</h2>
<p>This Agreement shall remain in effect until terminated by you or VERO.</p>
<p>VERO may, in its sole discretion, at any time and for any or no reason, suspend or terminate this Agreement with or without prior notice.</p>
<p>This Agreement will terminate immediately, without prior notice from VERO, in the event that you fail to comply with any provision of this Agreement. You may also terminate this Agreement by deleting the Application and all copies thereof from your mobile device or from your computer.</p>
<p>Upon termination of this Agreement, you shall cease all use of the Application and delete all copies of the Application from your mobile device or from your computer.</p>
<p>Termination of this Agreement will not limit any of VERO&rsquo;s rights or remedies at law or in equity in case of breach by you (during the term of this Agreement) of any of your obligations under the present Agreement.</p>
<h2>Indemnification</h2>
<p>You agree to indemnify and hold VERO and its parents, subsidiaries, affiliates, officers, employees, agents, partners and licensors (if any) harmless from any claim or demand, including reasonable attorneys&rsquo; fees, due to or arising out of your: (a) use of the Application; (b) violation of this Agreement or any law or regulation; or (c) violation of any right of a third party.</p>
<h2>No Warranties</h2>
<p>The Application is provided to you &ldquo;AS IS&rdquo; and &ldquo;AS AVAILABLE&rdquo; and with all faults and defects without warranty of any kind. To the maximum extent permitted under applicable law, VERO, on its own behalf and on behalf of its affiliates and its and their respective licensors and service providers, expressly disclaims all warranties, whether express, implied, statutory or otherwise, with respect to the Application, including all implied warranties of merchantability, fitness for a particular purpose, title and non-infringement, and warranties that may arise out of course of dealing, course of performance, usage or trade practice. Without limitation to the foregoing, VERO provides no warranty or undertaking, and makes no representation of any kind that the Application will meet your requirements, achieve any intended results, be compatible or work with any other software, applications, systems or services, operate without interruption, meet any performance or reliability standards or be error free or that any errors or defects can or will be corrected.</p>
<p>Without limiting the foregoing, neither VERO nor any VERO&rsquo;s provider makes any representation or warranty of any kind, express or implied: (i) as to the operation or availability of the Application, or the information, content, and materials or products included thereon; (ii) that the Application will be uninterrupted or error-free; (iii) as to the accuracy, reliability, or currency of any information or content provided through the Application; or (iv) that the Application, its servers, the content, or e-mails sent from or on behalf of VERO are free of viruses, scripts, trojan horses, worms, malware, timebombs or other harmful components.</p>
<p>Some jurisdictions do not allow the exclusion of or limitations on implied warranties or the limitations on the applicable statutory rights of a consumer, so some or all of the above exclusions and limitations may not apply to you.</p>
<h2>Limitation of Liability</h2>
<p>Notwithstanding any damages that you might incur, the entire liability of VERO and any of its suppliers under any provision of this Agreement and your exclusive remedy for all of the foregoing shall be limited to the amount actually paid by you for the Application or one Euro (1&euro;).</p>
<p>To the maximum extent permitted by applicable law, in no event shall VERO or its suppliers be liable for any special, incidental, indirect, or consequential damages whatsoever (including, but not limited to, damages for loss of profits, for loss of data or other information, for business interruption, for personal injury, for loss of privacy arising out of or in any way related to the use of or inability to use the Application, third-party software and/or third-party hardware used with the Application, or otherwise in connection with any provision of this Agreement), even if VERO or any supplier has been advised of the possibility of such damages and even if the remedy fails of its essential purpose.</p>
<p>Some states/jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you.</p>
<h2>Damages arising out of your Actions</h2>
<p>You agree that you will defend and hold VERO, its affiliates, agents, independent consultants, and their respective officers, directors, employees and agents, harmless from and against any and all liabilities, damages, costs, expenses or losses arising out of your misuse of the Application or the Service, your negligent or wrongful acts, your violation of any applicable laws or regulations, and/or your breach of any provision of this Agreement, and/or any claims of libel, defamation, violation of rights of privacy or publicity, trespass, and infringement of intellectual or other proprietary rights.</p>
<h2>Severability</h2>
<p>If any provision of this Agreement is held to be unenforceable or invalid, such provision will be changed and interpreted to accomplish the objectives of such provision to the greatest extent possible under applicable law and the remaining provisions will continue in full force and effect.</p>
<h2>Waiver</h2>
<p>Except as provided herein, the failure to exercise a right or to require performance of an obligation under this Agreement shall not effect a party&rsquo;s ability to exercise such right or require such performance at any time thereafter nor shall be the waiver of a breach constitute waiver of any subsequent breach.</p>
<h2>Amendments to this Agreement</h2>
<p>VERO reserves the right, at its sole discretion, to modify or replace this Agreement at any time. If a revision is material we will provide at least 15 days&rsquo; notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
<p>By continuing to access or use our Application after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Application.</p>
<h2>Governing Law</h2>
<p>The laws of The Netherlands, excluding its conflicts of law rules, shall govern this Agreement and your use of the Application. Your use of the Application may also be subject to other local, state, national, or international laws.</p>
<h2><strong>Contact Information </strong></h2>
<p>If you have any questions about this Agreement, please contact us.</p>
<h2>Entire Agreement</h2>
<p>The Agreement constitutes the entire agreement between you and VERO regarding your use of the Application and supersedes all prior and contemporaneous written or oral agreements between you and VERO.</p>
<p>You may be subject to additional terms and conditions that apply when you use or purchase other VERO&rsquo;s services, which VERO will provide to you at the time of such use or purchase.</p>
<p>&nbsp;</p>